body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: lavender;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.timer {
    color: blueviolet;
    font-size: 100px;
}